body {
    padding: 0;
    margin: 0;
}

.navbar {
    list-style-type: none;
    background-color: #008080;
    overflow: hidden;
    text-align: right;
    padding: 0;
    margin-bottom: 3em;
}

.nav {
    float: right;
    font-family: "Tahoma", serif;
}

.nav a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;
    background-color: #008080;
}

.nav a:hover {
    background-color: #008080;
}

.li a:hover {
    background-color: #008080;
}

