<!--<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>

    <form th:action="@{/login}" th:object="${korisnik}" method="post">
    <h2>Ulogujte se: </h2>
    <input type="text" name="username" placeholder="Korisnicko ime:" required="" autofocus="" th:field="*{korisnickoIme}" />
    <input type="password" name="password" placeholder="Lozinka" required="" th:field="*{lozinka}"/>
    <button type="submit">Login</button>
</form>-->
<!--    <button class="dugme" onclick="goBack()">Back</button>
</body>
</html>
-->