<!--<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista treninga</title>
    <meta charset="utf-8"/>

</head>
<body>
<h1>Treninzi u ponudi</h1>
<br><br>
<table id="treninzi">
    <tr>
        <th>Id</th>
        <th>Naziv</th>
        <th>Opis</th>
        <th>Tip treninga</th>
        <th>Trajanje</th>
    </tr>
    <tr th:each="trening : ${treninzi}">
        <td th:text="${trening.id}"></td>
        <td th:text="${trening.naziv}"></td>
        <td th:text="${trening.opis}"></td>
        <td th:text="${trening.tipTreninga}"></td>
        <td th:text="${trening.trajanje}"></td>
    </tr>
</table>
</body>
</html>
-->